venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
step_*.png
*.png
*.jpg
*.jpeg
*.gif
error.png
after_success.png
page_source.html 